
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Posts</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", false)
</body>
</html>
