@model Blog.Models.Post

    @using (Html.BeginForm())
    {
        @Html.EditorFor(Model => Model)

        <button type="submit">Salvar</button>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

@section Scripts{
    @Html.Partial("_Scripts")
}