
@model Blog.Models.Post



<h2>Novo Post</h2>
@using (Html.BeginForm("Salvar", "Post"))
{
    @Html.EditorFor(Model => Model)

    <button type="submit">Salvar</button>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts{ 
    @Html.Partial("_Scripts")
}