<aside>
    <h1>Administração</h1>
    <div>
        <div class="list-group">
            @Html.ActionLink("Home", "Index", "../Home", new { @class = "list-group-item" })
            @Html.ActionLink("Posts", "Index", "Post", new { @class = "list-group-item" })
        </div>
    </div>
</aside>